
*{
    padding: 0;
    margin: 0;
}
/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}


.btn{
    background-color: red;
    color: aliceblue;
    height: 40px;
    width: 100px;
    padding: 10px;
    font-size: 30;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.6s;
}
.btn:hover{
    background-color: black;
}

/* header style */

.header{
    background-color: #a69393;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    margin: 0 120px;
}

.logo{
    font-size: 45px;
    font-weight: 800;
    color: black;
}

.logo span{
    color: red;
}

.main > ul{
    display: flex;
    align-items: center;
}

.list{
    list-style: none;
    padding: 10px;
    margin-right: 20px;
    font-size: 30px;
}

.list > a{
    text-decoration: none;
}
.benner{
    padding: 30 30 30 150px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}
img{
    width: 250px;
    height: 300px;
}
.text{
    width: 400px;
    
}